<!DOCTYPE html>
<html lang="en">
	<head th:replace="~{fragments/Head::head}"></head>
	<body>
		<script th:replace="~{fragments/Scripts::script5}"></script>
		<script th:replace="~{fragments/Scripts::script6}"></script>
		<script th:replace="~{fragments/Scripts::script7}"></script>
		<script th:replace="~{fragments/Scripts::script1}"></script>
		<script th:replace="~{fragments/Scripts::script3}"></script>

		<div th:replace="~{fragments/Navbar::navbar}"></div>

		<div class="product-container mt-5">
			<div class="mx-5">
				<div class="d-flex justify-content-start align-middle mb-5">
					<h2 class="m-0">Products</h2>
				</div>
				<!-- Modal for Add/Edit Product -->
				<div class="modal fade" id="createOrderModal" tabindex="-1" role="dialog" aria-labelledby="createOrderModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Create an Order</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<form action="/create-order" th:object="${CreateOrderForm}" method="post" enctype="multipart/form-data">
								<div class="modal-body">
									<div class="form-group">
										<label for="name">Product Name</label>
										<input type="text" class="form-control" id="name" name="name" readonly="readonly" />
									</div>

									<div class="form-group">
										<label for="warehouseId">Warehouse Id</label>
										<input type="text" class="form-control" id="warehouseId" name="warehouseId" readonly="readonly" />
									</div>

									<div class="form-group">
										<label for="quantity">Quantity</label>
										<input type="number" class="form-control" id="quantity" name="quantity" min="0" required />
									</div>

									<div class="form-group">
										<label for="file">Shipping label</label>
										<input name="file" class="form-control" type="file" id="file" accept="application/pdf" required />
									</div>

									<div class="form-group">
										<label for="orderDate">Order Date</label>
										<input type="date" class="form-control" id="orderDate" name="orderDate" required />
									</div>

									<input type="text" hidden="hidden" class="form-control" id="productId" name="productId" value="" />
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
									<button type="submit" class="btn btn-primary">Create Order</button>
								</div>
							</form>
						</div>
					</div>
				</div>

				<table id="productTable" class="table table-striped table-bordered">
					<thead>
						<tr>
							<th>Product Image</th>
							<th>Name</th>
							<th>UPC Number</th>
							<th>Package Id</th>
							<th>Tracking Id</th>
							<th>Quantity</th>
							<th>Warehouse Id</th>
							<th>Arrival Date</th>
							<th>Availability</th>
							<th>Actions</th>
							<th style="display: none">Product Id</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="product : ${products}">
							<td>
								<img
									th:src="@{'data:image/jpeg;base64,'+${product.generateBase64Image()}}"
									alt="Product Image"
									style="max-width: 100px; max-height: 100px"
									class="product-image"
								/>
							</td>
							<td th:text="${product.productName}"></td>
							<td>
								<a th:href="@{/products/{productId}/history (productId=${product.id})}" th:text="${product.upc}" title="View Product History"></a>
							</td>
							<td th:text="${product.packageId}"></td>
							<td th:text="${product.trackingId}"></td>
							<td th:text="${product.quantity}"></td>
							<td th:text="${product.warehouseId}"></td>
							<td th:text="${product.arivalDate}"></td>
							<td th:text="${product.availability ? 'In Stock' : 'Out Of Stock'}"></td>
							<td>
								<button type="button" class="btn btn-primary btn-sm order-button">Create Order</button>
							</td>
							<td th:text="${product.id}" style="display: none"></td>
						</tr>
					</tbody>
				</table>
				<br /><br />
			</div>
			<input th:value="${orderPlaced}" disabled hidden="hidden" id="orderPlaced" />
			<input th:value="${message}" disabled hidden="hidden" id="message" />
		</div>

		<div th:replace="~{fragments/Footer::footer}"></div>

		<script>
			const orderButtons = document.querySelectorAll('.order-button');

			$(document).ready(function () {
				$('#productTable').DataTable({ order: [] });
			});

			orderButtons.forEach((button) => {
				button.addEventListener('click', function () {
					const row = this.closest('tr');

					document.getElementById('name').value = row.querySelector('td:nth-child(2)').textContent.trim();
					document.getElementById('quantity').setAttribute('max', row.querySelector('td:nth-child(6)').textContent.trim());
					document.getElementById('warehouseId').value = row.querySelector('td:nth-child(7)').textContent.trim();
					document.getElementById('productId').value = row.querySelector('td:nth-child(11)').textContent.trim();

					$('#createOrderModal').modal('show');
				});
			});

			document.addEventListener('DOMContentLoaded', function () {
				var orderPlaced = document.getElementById('orderPlaced').value;
				if (orderPlaced != 'null') {
					var message = document.getElementById('message').value;
					if (orderPlaced === 'true') {
						swal({
							title: 'Success!',
							text: message,
							icon: 'success',
							button: 'close!',
						});
					} else {
						swal({
							title: 'Failure!',
							text: message,
							icon: 'failure',
							button: 'close!',
						});
					}
				}
			});
		</script>
	</body>
</html>
