<!DOCTYPE html>
<html lang="en">
  <head th:replace="~{fragments/Head::head}">
    <body>
      <div th:replace="~{fragments/Navbar::navbar}"></div>
      <script th:replace="~{fragments/Scripts::script1}"></script>
      <script th:replace="~{fragments/Scripts::script2}"></script>

      <div class="container mt-5">
        <div class="text-center mb-5">
          <h1 class="display-4">Edit Profile</h1>
          <p class="lead">Update your information and profile picture.</p>
        </div>

        <form th:action="@{/update-profile}" th:object="${SignUpForm}" enctype="multipart/form-data" method="POST" class="row">
          <div class="col-xl-4 mb-4">
            <!-- Profile picture card-->
            <div class="card">
              <div class="card-header text-center">Profile Picture</div>
              <div class="card-body text-center">
                <!-- Profile picture image-->
                <div class="preview">
                  <img
                    class="rounded-circle"
                    height="110"
                    width="110"
                    th:src="@{'data:image/jpeg;base64,'+${user.generateBase64Image()}}"
                    id="file-ip-1-preview"
                    alt="Profile Picture"
                    class="border border-2"
                  />
                </div>
                <br />
                <label for="file" class="btn btn-outline-dark btn-lg mt-3">Upload New Image</label>
                <input name="file" type="file" id="file" style="display: none" accept="image/*" onchange="showPreview(event);" />
              </div>
            </div>
          </div>

          <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
              <div class="card-header">Account Details</div>
              <div class="card-body">
                <p th:if="${error}" class="text-danger" th:text="${message}"></p>
                <p th:if="${success}" class="text-success" th:text="${message}"></p>

                <!-- Form Group (username)-->
                <div class="mb-3">
                  <label class="small mb-1" for="inputUsername">Username <span class="text-danger">(not changeable)</span></label>
                  <input class="form-control" id="inputUsername" readonly="readonly" th:value="${user.userName}" />
                </div>

                <!-- Form Row-->
                <div class="row gx-3 mb-3">
                  <input class="form-control" id="id" name="id" type="hidden" th:value="${user.id}" />
                  
                  <!-- Form Group (Name)-->
                  <div class="col-md-6 mb-3">
                    <label class="small mb-1" for="name">Full Name</label>
                    <input class="form-control" id="name" name="name" type="text" th:value="${user.name}" />
                  </div>

                  <!-- Form Group (Phone Number)-->
                  <div class="col-md-6 mb-3">
                    <label class="small mb-1" for="phoneNumber">Phone Number</label>
                    <input class="form-control" id="phoneNumber" name="phoneNumber" type="text" th:value="${user.phoneNumber}" />
                  </div>
                </div>

                <!-- Password Section -->
                <div class="row gx-3 mb-3">
                  <!-- Current Password -->
                  <div class="col-md-6 mb-3">
                    <label class="small mb-1" for="currentPassword">Current Password</label>
                    <input class="form-control" id="currentPassword" name="currentPassword" type="password" placeholder="Enter current password" />
                  </div>

                  <!-- New Password -->
                  <div class="col-md-6 mb-3">
                    <label class="small mb-1" for="newPassword">New Password</label>
                    <input class="form-control" id="newPassword" name="newPassword" type="password" placeholder="Enter new password" />
                  </div>
                </div>

                <div class="row gx-3 mb-3">
                  <!-- Confirm New Password -->
                  <div class="col-md-6">
                    <label class="small mb-1" for="confirmPassword">Confirm New Password</label>
                    <input class="form-control" id="confirmPassword" type="password" name="confirmPassword" placeholder="Confirm new password" />
                  </div>
                </div>

                <!-- Save changes button-->
                <div class="text-center">
                  <button class="btn btn-dark btn-lg px-5" type="submit">Save Changes</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div th:replace="~{fragments/Footer::admin-footer}"></div>

      <!-- Profile Picture Preview Script -->
      <script>
        function showPreview(event) {
          if (event.target.files.length > 0) {
            var src = URL.createObjectURL(event.target.files[0]);
            var preview = document.getElementById("file-ip-1-preview");
            preview.src = src;
          }
        }
      </script>
    </body>
  </head>
</html>
