<div th:fragment="footer">
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">
            <i>Inventory System </i> streamline and centralize the process for controlling the flow and maintenance of inventory
			 to ensure that the right amount of inventory is available at the right time and of the right quality.
          </p>
        </div>
      </div>
      <hr />
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2024 All Rights Reserved by <a href="#">Inventory System</a>.</p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li>
              <a class="facebook" href="#"><i class="fab fa-facebook"></i></a>
            </li>
            <li>
              <a class="twitter" href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a class="dribbble" href="#"><i class="fab fa-dribbble"></i></a>
            </li>
            <li>
              <a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>

<div th:fragment="admin-footer">
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
		  <p class="text-justify">
	          <i>Inventory System </i> streamline and centralize the process for controlling the flow and maintenance of inventory
			 to ensure that the right amount of inventory is available at the right time and of the right quality.
	      </p>
        </div>
      </div>
      <hr />
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2024 All Rights Reserved by <a href="#">Inventory System</a>.</p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li>
              <a class="facebook" href="#"><i class="fab fa-facebook"></i></a>
            </li>
            <li>
              <a class="twitter" href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a class="dribbble" href="#"><i class="fab fa-dribbble"></i></a>
            </li>
            <li>
              <a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>
